################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/testApi/v17
/TestApi/.vs
/TestApi/TestApi/bin/Debug/net8.0
/.vs
